# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Inferno Omnia.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\Inferno Omnia\.idea\.idea.Inferno Omnia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
